<div id="clients" class="col-md-9 mid">
    <div class="hex-wrapper">
        <div class="hex1 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex1.png" />
                <img class="back" src="/img/imgmin/clients/hex2.png" />
            </div>
        </div>
        <div class="hex2 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex2.png" />
                <img class="back" src="/img/imgmin/clients/hex1.png" />
            </div>
        </div>
        <div class="hex3 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex3.png" />
                <img class="back" src="/img/imgmin/clients/hex4.png" />
            </div>
        </div>
        <div class="hex4 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex4.png" />
                <img class="back" src="/img/imgmin/clients/hex3.png" />
            </div>
        </div>
        <div class="hex5 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex5.png" />
                <img class="back" src="/img/imgmin/clients/hex6.png" />
            </div>
        </div>
        <div class="hex6 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex6.png" />
                <img class="back" src="/img/imgmin/clients/hex5.png" />
            </div>
        </div>
        <div class="hex7 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex7.png" />
                <img class="back" src="/img/imgmin/clients/hex8.png" />
            </div>
        </div>
        <div class="hex8 hex-outer-container">
            <div class="hex-inner-container">
                <img class="front" src="/img/imgmin/clients/hex8.png" />
                <img class="back" src="/img/imgmin/clients/hex7.png" />
            </div>
        </div>
    </div>
</div>