<div id="home" class="col-md-9 mid">
    <img src="img/imgmin/static/home-page-picture.jpg" />
    <div class="hex-wrapper">
        <img class="hex1" src="/img/imgmin/home/hex1.png" />
        <img class="hex2" src="/img/imgmin/home/hex2.png" />
    </div>
    <div class="text-wrapper">
        <div class="text-container">
            more than
        </div>
        <div class="text-container">
            furniture
        </div>
    </div>
</div>