<div class="left
	<% if (page === 1 || page === 2 || page === 3 || page === 4 || page === 6) {%> col-md-3 <% } %>
	<% if (page === 5) {%> col-md-2 <% } %>
	"
	style="
	position: relative;
	display: inline-block;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: top;
">
	<div class="table-wrapper" style="
		display: table;
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
	">
		<div class="table-cell-wrapper" style="
			display: table-cell;
			vertical-align: middle;
			<% if (page === 2 || page === 3 || page === 4 || page === 5 || page === 6) {%> padding-left: 27pt; <% } %>
		">
			<div class="text" style="
				font-size: 20pt;
				line-height: 24pt;
				font-weight: 500;
				color: #58667B;
				padding: 0;
				margin: 0;
			">
				<% if (page === 1) {%> We simply respect <% } %>
				<% if (page === 2) {%> All room <% } %>
				<% if (page === 3) {%> Press <% } %>
				<% if (page === 4) {%> Our valued <% } %>
				<% if (page === 5) {%> Our sister <% } %>
				<% if (page === 6) {%> Have a visit <% } %>
			</div>
			<div class="text" style="
				font-size: 20pt;
				line-height: 24pt;
				font-weight: 500;
				color: #58667B;
				padding: 0;
				margin: 0 0 30pt 0;
			">
				<% if (page === 1) {%> what makes us unique<span class="dot">.</span> <% } %>
				<% if (page === 2) {%> One Solution<span class="dot">.</span> <% } %>
				<% if (page === 3) {%> and reviews<span class="dot">.</span> <% } %>
				<% if (page === 4) {%> Clients<span class="dot">.</span> <% } %>
				<% if (page === 5) {%> concerns<span class="dot">.</span> <% } %>
				<% if (page === 6) {%> to our store<span class="dot">.</span> <% } %>
			</div>
			<% if (page === 1 || page === 6) {%>
				<button class="left-btn" style="
					height: 28pt;
					border-radius: 14pt;
					border: thin solid #D7494D;
					font-size: 8pt;
					font-weight: 400;
					letter-spacing: 2.4px;
					line-height: 9.5pt;
					text-align: center;
					padding: 10pt 17pt 10pt calc(2.4px + 17pt);
					margin: 0;
				">
					<% if (page === 1) {%> EXPLORE <% } %>
					<% if (page === 6) {%> DIRECTION <% } %>
				</button>
			<% } %>
		</div>
	</div>
</div>