<div id="reviews" class="col-md-9 mid">
    <div class="text-wrapper reviewers">
        <img src="/img/reviews/wall-street-logo.png" class="text" />
        <img src="/img/reviews/daily-star-logo.png" class="text" />
        <img src="/img/reviews/architectural-design-logo.png" class="text" />
        <img src="/img/reviews/the-telegraph-logo.png" class="text" />
    </div>
    <img class="reviews-img" src="/img/reviews/users/0.png" />
	<img class="reviews-img-blurred" src="/img/reviews/users/0-blurred.png" />
	<div class="text-wrapper review-text-bg"></div>
    <div class="text-wrapper review-text">
        <div class="text-container">
            <div class="header">&ldquo;</div>
            <div class="text"></div>
        </div>
        <div class="reviewer">
            <div class="name"></div><!--
            --><div class="about"></div>
        </div>
        <div class="navigation">
            <div class="nav-button previous"><img src="/img/reviews/left-arrow-grey.png" /></div><!--
            --><div class="nav-button next"><img src="/img/reviews/right-arrow-grey.png" /></div>
        </div>
    </div>
</div>