<div id="room" class="col-md-9 mid">
    <img src="/img/imgmin/room/background-hexagon.png" />
    <div class="hex-wrapper">
        <div class="hex1 hex-container">
            <div class="text"><span>kitchen</span></div>
            <img src="/img/imgmin/room/kitchen.png" />
        </div>
        <div class="hex2 hex-container">
            <div class="text"><span>Dining</span></div>
            <img src="/img/imgmin/room/dining.png" />
        </div>
        <div class="hex3 hex-container">
            <div class="text"><span>Bedroom</span></div>
            <img src="/img/imgmin/room/bedroom.png" />
        </div>
        <div class="hex4 hex-container">
            <div class="text"><span>Sofa</span></div>
            <img src="/img/imgmin/room/sofa.png" />
        </div>
        <div class="hex5 hex-container">
            <div class="text"><span>Home decor</span></div>
            <img src="/img/imgmin/room/home-decor.png" />
        </div>
        <div class="hex6 hex-container">
            <div class="text"><span>Office furniture</span></div>
            <img src="/img/imgmin/room/office.png" />
        </div>
        <div class="hex7 hex-container">
            <div class="text"><span>Painting</span></div>
            <img src="/img/imgmin/room/painting.png" />
        </div>
        <div class="hex8 hex-container">
            <div class="text"><span>Hardware</span></div>
            <img src="/img/imgmin/room/hardware.png" />
        </div>
    </div>
    <div class="hex-shadow-wrapper">
        <img class="hex1" src="/img/imgmin/room/kitchen-shadow.png" />
        <img class="hex2" src="/img/imgmin/room/dining-shadow.png" />
        <img class="hex3" src="/img/imgmin/room/bedroom-shadow.png" />
        <img class="hex4" src="/img/imgmin/room/sofa-shadow.png" />
        <img class="hex5" src="/img/imgmin/room/home-decor-shadow.png" />
        <img class="hex6" src="/img/imgmin/room/office-shadow.png" />
        <img class="hex7" src="/img/imgmin/room/painting-shadow.png" />
        <img class="hex8" src="/img/imgmin/room/hardware-shadow.png" />
    </div>
</div>