<div id="sister" class="col-md-9 mid">
    <div id="cube-container">
        <div id="top-surface"><span class="text-shadow">homepro</span></div>
        <div id="left-surface"><span class="text-shadow">sister</span></div>
        <div id="right-surface"><span class="text-shadow">Brother</span></div>
        <img id="top-text-img" src="/img/sister/top-surface-text.png" />
        <img id="left-text-img" src="/img/sister/left-surface-text.png" />
        <img id="right-text-img" src="/img/sister/right-surface-text.png" />
    </div>
</div>