<div class="col-md-9 mid">
    <img class="store-img" src="/img/imgmin/store/store.png" style="
        position: absolute;
        left: 8vh;
        top: 15.2%;
        height: 65%;
        z-index: 1;
    " />
    <img class="store-img-blurred" src="/img/imgmin/store/store-blurred.png" style="
        position: absolute;
        left: 0;
        top: 15%;
        height: 80%;
    " />
    <div class="text-wrapper" style="
        height: 193pt;
        width: 45%;
        position: absolute;
        top: 30%;
        left: 39%;
        padding: 23pt 0 0 28pt;
        z-index: 2;
        background: #D7494DED;
        text-align: left;
    ">
        <div class="text-container" style="
            margin-bottom: 20pt;
        ">
            <div class="header" style="
                font-size: 12.5pt;
                line-height: 15pt;
                font-weight: 500;
                color: #FFF;
                margin-bottom: 4pt;
            ">Address</div>
            <div class="text" style="
                font-size: 10pt;
                line-height: 12pt;
                color: #FFF;
            ">
                Plot # 15, Road # 27, Block # J, Banani, Dhaka,
            </div>
            <div class="text" style="
                font-size: 10pt;
                line-height: 12pt;
                color: #FFF;
            ">
                Bangladesh 1213
            </div>
        </div>
        <div class="text-container" style="
            margin-bottom: 20pt;
        ">
            <div class="header" style="
                font-size: 12.5pt;
                line-height: 15pt;
                font-weight: 500;
                color: #FFF;
                margin-bottom: 4pt;
            ">Contact</div>
            <div class="text" style="
                font-size: 10pt;
                line-height: 12pt;
                color: #FFF;
            ">
                8801811-225511
            </div>
        </div>
        <div class="text-container">
            <div class="header" style="
                font-size: 12.5pt;
                line-height: 15pt;
                font-weight: 500;
                color: #FFF;
                margin-bottom: 4pt;
            ">E-mail</div>
            <div class="text" style="
                font-size: 10pt;
                line-height: 12pt;
                color: #FFF;
            ">
                hello@homepro.com.bd
            </div>
        </div>
    </div>
</div>
<div id="footer">
	<div class="left">Copyright 2018 <span>homePro</span></div>
	<a class="right" href="/contact">Contact Us</a>
</div>
