<script type="text/javascript">
	$(function () {
		var $navItems = $('#nav-menu').find('> .nav-item');
		$navItems.on('click', function () {
			$navItems.removeClass('selected');
			$(this).addClass('selected');
			var categoryId = $(this).data('categoryid');
			$('#body-content').fadeOut('fast', function () {
				$(this).html('');
				refreshProducts(categoryId);
				$(this).fadeIn('slow');
			});
		});

		var products;
		$.ajax({
			url: "/catalogue",
			method: "POST",
			success: function (data) {
				products = data;
				refreshProducts(category);
			},
			error: function (res) {
				console.log("Error!", res.responseText);
			}
		});

		var showProducts = function(productsArray, totalProducts) {
			var $bodyContent = $('#body-content');
			for (var i = 1; i <= totalProducts; i++) {
				$bodyContent.append('' +
					'<div class="item" onclick="window.location.href=\'/product/' + productsArray[i]['category'] + '/' + productsArray[i]['serial'] + '\'">' +
					'   <img src="/img/imgmin/product/' + productsArray[i]['category'] + '/' + productsArray[i]['serial'] + '.png" />' +
					'   <div class="info">' +
					'       <div class="brand">' + productsArray[i]['brand'] + '</div>' +
					'       <div class="title">' + productsArray[i]['title'] + '</div>' +
					'       <div class="price">Retail $' + productsArray[i]['price'] + '</div>' +
					'       <div class="colors">' +
					'           <span class="color" style="background-color: #696969;"></span><!--' +
					'           --><span class="color" style="background-color: #C9B693;"></span><!--' +
					'           --><span class="color border" style="background-color: #FFFFFF;"></span>' +
					'       </div>' +
					'   </div>' +
					'</div>' +
					'');
				var $lastItem = $bodyContent.find('> .item:last-child > img');
				if (productsArray[i]['height'] > productsArray[i]['width']) $lastItem.css('height', '162pt');
				else {
					var height = 159 * productsArray[i]['height'] / productsArray[i]['width'];
					$lastItem.css({
						'margin': (162 - height) / 2 + 'pt 0',
						'width': '159pt'
					});
				}
			}
		}
		var refreshProducts = function(categoryId) {
			if (categoryId === 0) {
				var totalCategories = Object.keys(products).length;
				for (var j = 1; j <= totalCategories; j++) refreshProducts(j);
				return;
			}
			var totalProducts = Object.keys(products[categoryId]).length;
			showProducts(products[categoryId], totalProducts);
		}

		$('#search-text').keyup(function() {
			var query = $(this).val(); // get the current value of the input field.
			var results = [{}];
			var totalCategories = Object.keys(products).length;
			for (var j = 1; j <= totalCategories; j++) {
				var totalProducts = Object.keys(products[j]).length;
				for (var i = 1; i <= totalProducts; i++) {
					if (products[j][i]['title'].toLowerCase().indexOf(query.toLowerCase()) !== -1)
						results.push(products[j][i]);
				}
			}
			$('#body-content').fadeOut('fast', function () {
				$(this).html('');
				showProducts(results, results.length - 1);
				$(this).fadeIn('slow');
			});
		});
	});
</script>